PROD_DB_URL=jdbc:postgresql://your-prod-host:5432/your-db
PROD_DB_USER=your-prod-user
PROD_DB_PASSWORD=your-prod-password

STAGING_DB_URL=jdbc:postgresql://your-staging-host:6543/your-db
STAGING_DB_USER=your-staging-user
STAGING_DB_PASSWORD=your-staging-password

FIREBASE_CREDENTIALS_PATH=your-firebase-adminsdk-file.json
